.grid {
  height: 400px;
  width: 400px;
  margin: auto;
  border: 3px solid #000;
  display: grid;
  background-color: #000;
  grid-gap: 1px 1px;
}

.container {
  display: flex;
}

.cell {
  background-color: white;
  box-sizing: border-box;
}

.ship {
  background-color: rgb(11, 73, 167);
}

.hit {
  background-color: red;
}

.missed {
  background-color: gray;
}

/* .occupied {
  background-color: gray;
} */

.hidden {
  background-color: black;
}
